<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet">

    <title>FoodExpress</title>
</head>

<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-danger">

  <div class="container-fluid">

    <a class="navbar-brand" href="/">FoodExpress</a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent">

      <span class="navbar-toggler-icon"></span>

    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">

      <ul class="navbar-nav me-auto mb-2 mb-lg-0">

        <li class="nav-item">
          <a class="nav-link active" href="/">Home</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="/cardapio">Cardápio</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="/pedidos">Pedidos</a>
        </li>

      </ul>

      <a href="/contato" class="btn btn-light">
        Contato
      </a>

    </div>

  </div>

</nav>

<div class="container text-center mt-5">

    <h1>Bem-vindo ao FoodExpress</h1>

    <p>O melhor delivery da cidade!</p>

    <a href="/cardapio" class="btn btn-danger">
        Ver Cardápio
    </a>

</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"></script>

</body>
</html>